<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-dark.min.css">
    <link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css">
    <script src="https://kit.fontawesome.com/69ba64fcd9.js" crossorigin="anonymous"></script>
    <title>L'application du Chat</title>
</head>
<body>
    <header>
        <a href="/" class="logo"><img src="/images/cat-icon-48x48.png" alt="Logo chat"/></a>
        <span>|</span>
        <a href="/user/home" class="button"><i class="fas fa-user-md"></i> Médecins</a>
        <a href="/user/home" class="button"><i class="fas fa-clinic-medical"></i> Salles</a>
        <button>Autre</button>
        <span>|</span>
        <button>About</button>
        <a href="#" role="button">Contact</a>
      </header>